/* utilidades */
  .mrr20{
    margin-right: 20%;
  }
  .mt40{
    margin-top:60px
  }
/* utilidades */
body{
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
}
/* Header */
  .navbar-pow {
    justify-content: space-between;
    z-index:99;
  }
  .header {
    position: fixed;
    z-index: 1000;
    height: 80px;
    width: 100%; 
    background: transparent;
    padding: 18px;
    -webkit-transition: all ease-out .5s;
    -moz-transition: all ease-out .5s;
    -o-transition: all ease-out .5s;
    transition: all ease-out .5s;
  }
  .active {
    background: white;
  }
  .active .btn-contacto{
    border:1px solid #0099FF ;
    background-color: white;
    color: #0099FF;
  }
  .active .btn-contacto:hover{
    background-color: #0099FF;
    color: white;
  }

  .navbar-pow .navbar-collapse {
    flex-grow: 0;
  }
  .navbar-pow .navbar-brand img {
    position: relative;
    height: 40px;
    width: 88px;
    left: 50px;
    top: 0px;
  }
  @media (max-width: 991px) { 
    .navbar-pow .navbar-brand img {
      width: 87px;
      height: 30px;
      left: 10px;
    }     
  }
  .btn-contacto{
    font-family: 'DM Sans', sans-serif;
    position: relative;
    width: 194px;
    height: 52px;
    border-radius: 65px;
    border: 0;
    color: white;
    background-color: #0099FF;
    font-size: 15px;
    right: 57px;
  }
  @media (max-width: 991px) { 
    .btn-contacto{
      width: 160px;
      height: 43px;
      right: 0px;}
  }
  .btn-contacto:hover{
    background-color: white;
    color: black;
  }
/* Fin Header */
/* --------------------------------------------------------------------------------------------------------------- */

/* Primer bloque */

  .div-azul{
    width: 100%;
    height: 747px;
    background-color: #3E70D9;
  }

  .text-desk{
    width: 86%;
    position: relative;
    top: 180px;
    left: 90px;
  }

  .text-principal{
    color: white;
    position: relative;
    top: 203px;
    left: 114px;
    font-size: 46px;
  }
  #flechita{
    position: relative;
    left: 460px;
    top: 115px;
    width: 103px;
  }
  .porcentaje{
    color: white;
    background: #0099FF;
    width: 419px;
    border-radius: 90px;
    padding-left: 23px;
    position: relative;
    top: 96px;
    left: 92px;
  }
  
  .text-porc{
    margin: 0;
    margin-top: 7px;
    font-weight: 500;
    font-size: 45px;
  }

  .info-porc{
    width: 241px;
    font-size: 14px;
    margin-left: 17px;
    margin-top: 20px;
    font-weight: 700;
  }

  .autogestionable{
    color: white;
    position: relative;
    top: 203px;
    left: 89px;
    font-size: 46px;
    border: 2px solid;
    width: 388px;
    padding-left: 21px;
    border-radius: 90px;
  }

  .phone-pow-desk{
    position: relative;
    width: 476px;
    top: 134px;
    left: 101px;
  }
  
  .info-p-bloque-div{
    position: relative;
    top: 194px;
    left: 100px;
    color: white;
    font-size: 20px;
    line-height: 105.5%;
    font-style: normal;
    font-weight: normal;
  }
  .widht-text{
    width: 243px;
  }

/* FIN Primer bloque */
/* --------------------------------------------------------------------------------------------------------------- */
/* Segundo bloque */
  .est1-title{
    margin-left: 90px;
    margin-top: 101px;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 55px;
    color: #000000;
  }
  
  .trans{
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 36px;
  color: #000000;
  margin-top: 33px;
  margin-left: 90px;
  }
  .center-flex{
    margin-left: 21%;
  }
  .est1-p{
    width: 395px;
    margin-left: 90px;
    margin-top: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #969696;
  }
  .est-1-div{
    height: 711px;
  }
  .est1-img{
    width: 103%;
    margin-top: -107px;
  }
  
  .estadisticas2-bg{
    background-image: url("../img/estadisticas2.svg");
    background-repeat: no-repeat;
    height: auto;
    background-size: cover ;
  }

  .est2-title{
    width: 70%;
    margin-left: 17%;
    margin-top: 98px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
  }
  .est2-porcentajes{
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    line-height: 73px;
    color: #FFFFFF;
  }
  .est2-text{   
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    text-align: center;
    margin-top: -17px;
  }

/* FIN Segundo bloque */
/* --------------------------------------------------------------------------------------------------------------- */

/* tercer bloque */
 
  .ventajasimg{
    width: 100%;
 }
 .ventajasimg-mobile{
   margin-top: 561px;
}

/* FIN tercer bloque */

/* --------------------------------------------------------------------------------------------------------------- */
/* Cuarto bloque */
.como-funciona{
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 42px;
  text-align: center;
  color: black;
}
.detail-btn{
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-decoration-line: underline;
}

.detail-process{
  font-size: 32px;
  line-height: 42px;
  margin-left: 10px;
  color: #0099FF;
}

.btn-list-opt{
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 105.2%;
/* or 21px */ 
}

/* FIN cuarto bloque */

/* Quinto bloque */
  .inf-sobre-btn-title{
    font-weight: normal;
    font-size: 42px;
    line-height: 55px;
    color: #000000;
    margin-top: 210px;
    width: 78%;
    margin-left: 18%;
  }

  .inf-sobre-btn-p{
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #969696;
    margin-top: 33px;
    margin-left: 19%;
    width: 61%;
  }
  
  
  .background-img-div{
    background-image: url("../img/time-arr.svg");
    background-repeat: no-repeat;
    height: 813px;
    background-size: cover ;
    width: 100%;
    object-fit: cover;
  }
  @media (max-width: 991px) { 
    .background-img-div {
      background-image: url("../img/mobile/check-mobile.svg");
      margin-top: 80px;}
  }
  .btn-res{
    background: #0099FF;
    position: relative;
    padding: 17px;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
    top: 25px;
    left: 18%;
    border-radius: 67px;
    padding-left: 38px;
    padding-right: 38px;
    padding-top: 14px;
    padding-bottom: 14px;
  }
/* FIN Quinto bloque */

/* Sexto bloque */

  .proyect-bg-mobile{
    width: 110%;
    margin-left: -18px;
  }
  .proyect-bg-img{
    background-image: url("../img/proyecto.svg"); 
    width: 100%; 
    height:464px; 
    background-size: 100%
  }
/* FIN Sexto bloque */

/* SEPTIMO bloque (FORMULARIO) */
  .contact-title{
    margin-top: 100px;
    font-size: 32px;
    line-height: 42px;
    color: #000000;
    width: 35%;
    margin-left: 36%;
  }
  .form-container{
    padding-left: 36%;
    padding-right: 34%
  }
  .mensaje{
    padding-bottom: 154px;
    padding-top: 25px;
  }
  .label-2{
    font-family: DM Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 23px;
    color: #424242;
    margin-bottom: 4px;
  }
  .btn-form-new{
    width: 262px;
    margin-left: 20%;
    height: 47px;
    left: 577px;
    top: 5878px;
    background:#0099FF!important;
    border-radius: 65px;
    color: #FFFFFF;
    text-align: center;
  }
  .partnerships{
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    color: #000000;
    margin-top: 100px;
    width: 39%;
    margin-left: 32%;
  }
/* FIN SEPTIMO bloque */

/* Footer */
  .linea-separadora{
    margin-top: 100px;
    width: 96%;
    height: 1px;
    background: #969696;
    margin-left: 2%;
    margin-right: 2%;
  }

  .footer-text{
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #969696;
  margin-top: 20px;
  }
/* FIN Footer */