/* utilidades */
  .mrr20{
    margin-right: 20%;
  }
  .mt40{
    margin-top:60px
  }
  .top-35{
    position: relative;
    top:35%;
  }
/* utilidades */
body{
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
}
/* Header */
  .navbar-pow {
    justify-content: space-between;
    z-index:99;
  }
  .header {
    position: fixed;
    z-index: 1000;
    height: 80px;
    width: 100%; 
    background: transparent;
    padding: 18px;
    -webkit-transition: all ease-out .5s;
    -moz-transition: all ease-out .5s;
    -o-transition: all ease-out .5s;
    transition: all ease-out .5s;
  }
  .active {
    background: white;
  }
  .active .btn-contacto{
    border:1px solid #0099FF ;
    background-color: white;
    color: #0099FF;
  }
  .active .btn-contacto:hover{
    background-color: #0099FF;
    color: white;
  }

  .navbar-pow .navbar-collapse {
    flex-grow: 0;
  }
  .navbar-pow .navbar-brand img {
    position: relative;
    height: 40px;
    width: 88px;
    left: 50px;
    top: 0px;
  }
  @media (max-width: 991px) { 
    .navbar-pow .navbar-brand img {
      width: 87px;
      height: 30px;
      left: 10px;
    }     
  }
  .btn-contacto{
    font-family: 'DM Sans', sans-serif;
    position: relative;
    width: 194px;
    height: 52px;
    border-radius: 65px;
    border: 0;
    color: white;
    background-color: #0099FF;
    font-size: 15px;
    right: 57px;
  }
  @media (max-width: 991px) { 
    .btn-contacto{
      width: 160px;
      height: 43px;
      right: 0px;}
  }
  .btn-contacto:hover{
    background-color: white;
    color: black;
  }
/* Fin Header */
/* --------------------------------------------------------------------------------------------------------------- */

/* Primer bloque */

  .div-azul{
    width: 100%;
    height: 747px;
    background-color: #3E70D9;
  }

  .text-desk{
    width: 86%;
    position: relative;
    top: 180px;
    left: 90px;
  }

  .text-principal{
    color: white;
    position: relative;
    top: 203px;
    left: 114px;
    font-size: 46px;
  }
  #flechita{
    position: relative;
    left: 460px;
    top: 115px;
    width: 103px;
  }
  .porcentaje{
    color: white;
    background: #0099FF;
    width: 419px;
    border-radius: 90px;
    padding-left: 23px;
    position: relative;
    top: 96px;
    left: 92px;
  }
  
  .text-porc{
    margin: 0;
    margin-top: 7px;
    font-weight: 500;
    font-size: 45px;
  }

  .info-porc{
    width: 241px;
    font-size: 14px;
    margin-left: 17px;
    margin-top: 20px;
    font-weight: 700;
  }

  .autogestionable{
    color: white;
    position: relative;
    top: 203px;
    left: 89px;
    font-size: 46px;
    border: 2px solid;
    width: 388px;
    padding-left: 21px;
    border-radius: 90px;
  }

  .phone-pow{
    position: relative;
    width: 476px;
    top: 134px;
    left: 11%
  }
  
  .info-p-bloque-div{
    position: relative;
    top: 194px;
    left: 100px;
    color: white;
    font-size: 20px;
    line-height: 105.5%;
    font-style: normal;
    font-weight: normal;
  }
  .widht-text{
    width: 243px;
  }

/* FIN Primer bloque */
/* --------------------------------------------------------------------------------------------------------------- */
/* Segundo bloque */
  .est1-title{
    margin-left: 90px;
    margin-top: 120px;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 55px;
    color: #000000;
  }
  
  .trans{
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 36px;
  color: #000000;
  margin-top: 33px;
  margin-left: 90px;
  }
  .center-flex{
    margin-left: 21%;
  }
  .est1-p{
    width: 395px;
    margin-left: 90px;
    margin-top: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #969696;
  }
  .est-1-div{
    height: 711px;
  }
  .est1-img{
    width: 103%;
    margin-top: -107px;
  }
  
  .estadisticas2-bg{
    background-image: url("../img/estadisticas2.svg");
    background-repeat: no-repeat;
    height: auto;
    background-size: cover ;
  }

  .est2-title{
    width: 70%;
    margin-left: 17%;
    margin-top: 132px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
  }
  .est2-porcentajes{
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    line-height: 73px;
    color: #FFFFFF;
  }
  .est2-text{   
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    text-align: center;
    margin-top: -17px;
  }

/* FIN Segundo bloque */
/* --------------------------------------------------------------------------------------------------------------- */

/* tercer bloque */
 
  .ventajas-div{
    background-color: #F7F9FB;
    width: 100%;
    height: 486px;
    position: relative;
 }
 .vent-desk-title{
  position: relative;
  top: 20%;
  font-size: 32px;
  line-height: 42px;
  text-align: center;
  color: #000000;
 }
 .vent-desk-p{
  font-weight: normal;
  font-size: 22px;
  line-height: 29px;
  text-align: center;
  color: #000000;
  width: 70%;
 }
 .vent-img{
  position: relative;
  left: 28%;
  margin-bottom: 14px;
 }
 .ventajasimg-mobile{
    width: 100%;
    margin-top: 184px;
}

/* FIN tercer bloque */

/* --------------------------------------------------------------------------------------------------------------- */
/* Cuarto bloque */
.como-funciona{
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 42px;
  text-align: center;
  color: black;
  margin-top: 50px;
}
.li-sublist{
  margin-top: 5px;
  font-size: 20px;
  line-height: 31px;
  color: #6D6D6D;
  text-decoration: none;
  list-style: none;
  margin-left: 1%;
}
.acordeon-desk{
  margin-left: 111px;
}
.detail-btn{
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-decoration-line: underline;
  margin-bottom: 50px;
}

.detail-process{
  font-size: 32px;
  line-height: 42px;
  margin-left: 10px;
  color: #0099FF;
}

.btn-list-opt{
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 105.2%;
/* or 21px */ 
}

/* FIN cuarto bloque */

/* Quinto bloque */
  .inf-sobre-btn-title{
    font-weight: normal;
    font-size: 42px;
    line-height: 55px;
    color: #000000;
    margin-top: 32%;
    width: 78%;
    margin-left: 18%;
  }

  .inf-sobre-btn-p{
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #969696;
    margin-top: 33px;
    margin-left: 19%;
    width: 61%;
  }
  
  .desk-thumb{
    padding-left: 21%;
    padding-right: 21%;
    margin-bottom: 40px;
    margin-top: 30px;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  .desk-thumb-p{
    color:#969696;
    text-align: center;
  }
  a:active a{
    color: blue;
  }

  .background-img-div{
    background-image: url("../img/time-arr.svg");
    background-repeat: no-repeat;
    height: 813px;
    background-size: cover ;
    width: 100%;
    object-fit: cover;
  }
  .background-img-preguntas-frec{
    background-image: url("../img/background-div-desk.svg");
    background-repeat: no-repeat;
    width: 100%;
    height: 813px;
    background-size: cover;
  }
  .preguntas-f-title{
    font-weight: normal;
    font-size: 28px;
    line-height: 36px;
    color: #FFFFFF;
  }
  .preguntas-f-p{
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    margin-top: 15px;
    margin-bottom: 30px;
  }
  .preguntas-frecuentes-div{
    width: 75%;
    margin-top: 20%;
    margin-left: 18%;
  }

  .btn-res{
    background: #0099FF;
    position: relative;
    padding: 17px;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
    top: 25px;
    left: 18%;
    border-radius: 67px;
    padding-left: 38px;
    padding-right: 38px;
    padding-top: 14px;
    padding-bottom: 14px;
  }
/* FIN Quinto bloque */

/* Sexto bloque */

  .proyect-mobile{
    width: 100%;
    
  }
  .proyect-bg-blue{
    background-color: #3E70D9;; 
    width: 100%; 
    height:464px; 
  }
  .proyects-title{
    font-size: 42px;
    line-height: 55px;
    color: #FFFFFF;
    width: 487px;
    margin-top: 98px;
    margin-left: 19%;
  }
  .proyects-p{
    font-size: 16px;
    width: 344px;
    line-height: 21px;
    color: #FFFFFF;
    margin-left: 19%;
    margin-top: 40px;
  }
  .proyect-list-item{
    font-size: 22px;
    line-height: 29px;
    color: #FFFFFF;
    margin-bottom: 32px;
    margin-left: 3%
  }
  .center-list{
    margin-top: 117px;
    margin-left: 20%;
  }
  .proyects-circle{
    width: 30px;
    height: 30px;
    border: 2px solid white;
    border-radius: 60px;
  }
/* FIN Sexto bloque */

/* SEPTIMO bloque (FORMULARIO) */
  .contact-title{
    margin-top: 100px;
    font-size: 32px;
    line-height: 42px;
    color: #000000;
    width: 35%;
    margin-left: 36%;
  }
  .form-container{
    padding-left: 36%;
    padding-right: 34%
  }
  .mensaje{
    padding-bottom: 154px;
    padding-top: 25px;
  }
  .label-2{
    font-family: DM Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 23px;
    color: #424242;
    margin-bottom: 4px;
  }
  .btn-form-new{
    width: 262px;
    margin-left: 22%;
    height: 47px;
    left: 577px;
    top: 5878px;
    background:#0099FF!important;
    border-radius: 65px;
    color: #FFFFFF;
    text-align: center;
  }
  .partnerships{
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    color: #000000;
    padding-top: 100px;
    margin-top: 10px;
    width: 39%;
    margin-left: 32%;
  }
  .partnership-mobile{
    width: 96%;
    margin-left: 6px;
    margin-top: 34px;
  }
/* FIN SEPTIMO bloque */

/* Footer */
  .linea-separadora{
    width: 96%;
    height: 1px;
    background: #969696;
    margin-left: 2%;
    margin-right: 2%;
  }

  .footer-text{
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #969696;
  margin-top: 20px;
  }
/* FIN Footer */

/* ------------------------------------------------------------------------------------------------------ */
/* MEDIA QUERY MOBILE NML*/
@media (max-width: 991px) { 
  .div-azul{
    height: 1011px;
  }
  .phone-pow {
    position: absolute;
    width: 80%;
    top: 657px;
    left: 11%;
  }
  .text-principal{
    color: white;
    position: relative;
    top: 127px;
    left: 14px;
    font-size: 35px;
  }
  .autogestionable {
    color: white;
    position: relative;
    top: 131px;
    font-size: 35px;
    border: 2px solid;
    width: 304px;
    padding-left: 22px;
    border-radius: 90px;
    left: 0;
  }
  .porcentaje {
    color: white;
    background: #0099FF;
    width: 109%;
    border-radius: 0;
    padding-left: 23px;
    position: relative;
    top: 80px;
    left: -20px;
  }
  #flechita {
    position: relative;
    left: 289px;
    top: 66px;
    width: 65px;
  }
  .info-p-bloque-div {
    position: relative;
    top: 112px;
    left: 10px;
    color: white;
    font-size: 16px;
    line-height: 105.5%;
    font-style: normal;
    font-weight: normal;
  }
  .widht-text {
    width: 221px;
    margin-top: 10px;
  }
  .circulo-blanco{
    margin-top: 23px;
  }
  .est1-title{
    font-size: 26px;
    line-height: 34px;
    margin-top: 50px;
    text-align: left;
    margin-left: 5%;
  }
  .trans{
    margin-left: 5%;
  }
  .est1-p{
    width: 287px;
    font-size: 16px;
    margin-left: 6%;
    margin-bottom: 72px;
  }
  .est2-title{
    font-size: 20px;
    width: 100%;
    margin-left: 0;
    margin-top: 30px;
  }
  .est2-porcentajes{
    font-size: 40px;
  }
  .mt40{
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .center-flex{
    margin-left: 5%;
  }
  .borrar-div{
    width: 100%!important;
    height: 600px!important;
    background-color: black!important;
    margin-left: 0!important;
  }
 
  .preguntas-f-title{
    font-weight: normal;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 26px;
  }
  
  .preguntas-frecuentes-div{
    width: 77%;
    margin-top: 21%;
    margin-left: 13%;
  }

  .background-img-preguntas-frec{
    margin-top: 120px;
  }
  .preguntas-f-p{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    margin-top: 20px;
    margin-bottom: 60px;
    color: #FFFFFF;
  }
  .inf-sobre-btn-title{
    font-weight: normal;
    font-size: 26px;
    line-height: 34px;
    color: #000000;
    margin-top: 60px;
    width: 80%;
    margin-left: 6%;
  }
  .ventajas-div{
    display: none!important;
  }
  .contact-title{
    margin-top: 20px;
    font-size: 20px;
    line-height: 28px;
    color: #000000;
    width: 67%;
    margin-left: 16%;
    text-align: center;
  }
  .form-container {
    padding-left: 4%;
    padding-right: 4%;
  }
  .inf-sobre-btn-p{
    font-weight: 500;
    font-size: 16px;
    width: 90%;
    line-height: 21px;
    color: #969696;
    margin-left: 6%;
  }
  .acordeon-desk{
    margin-left: 0px;
  }
  .btn-res {
    left: 5%;
  }

  .btn-form-new{
    width: 253px;
    margin-left: 57px;
  }

  .partnerships {
    font-size: 24px;
    text-align: center;
    color: #000000;
    margin-top: 79px;
    width: 84%;
    margin-left: 7%;
  }
  .como-funciona{
    margin-top: 50px;
  }
  .footer-text{
    display: block;
    margin-top: 0px;
  }
  .btn-list-opt{
    text-align: left;
    font-size: 14px;
  }
  .li-sublist {
    margin-top: 5px;
    font-size: 12px;
    line-height: 31px;
    color: #6D6D6D;
    text-decoration: none;
    list-style: none;
    margin-left: 0%;
  }
  .detail-process {
    font-size: 21px;
    line-height: 42px;
    margin-left: 10px;
    color: #0099FF;
  }
}




/* MEDIA QUERY MOBILE EXTRA SMALL*/
@media (max-width: 360px){
  .text-principal{
    font-size: 27px;
  }
  .autogestionable{
    color: white;
    position: relative;
    top: 131px;
    font-size: 27px;
    border: 2px solid;
    width: 262px;
    padding-left: 24px;
    border-radius: 90px;
    left: 0;
  }

  #flechita{
    position: relative;
    left: 240px;
    top: 73px;
    width: 65px;
  }
  .porcentaje{
    width: 112%;
  }
  .est2-porcentajes{
    font-size: 36px;
  }
  .est1-p{
    width: 287px;
    font-size: 12px;
    margin-left: 1%;
    margin-bottom: 88px;
  }
  .btn-form-new{
    margin-left: 5%;
  }
}
